# Auto detect text files and perform LF normalization
* text=auto

# Keep KiCad source files readable in Git diffs
*.kicad_pro text eol=lf
*.kicad_sch text eol=lf
*.kicad_pcb text eol=lf
*.kicad_sym text eol=lf
*.kicad_mod text eol=lf
*.kicad_wks text eol=lf
*.md text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
